@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.rainbow {
  position: relative;
  z-index: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.rainbow:before {
  content: '';
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #399953;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#07b39b, #6fba82),
    linear-gradient(#f37055, #f37055), linear-gradient(#ef4e7b, #ef4e7b),
    linear-gradient(#a166ab, #a166ab);
  animation: rotate 4s linear infinite;
}

.rainbow:after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: rgba(25, 30, 88) !important;
  border-radius: 50%;
}
