.chat {
  max-height: 480px;
  overflow: hidden;
  overflow-y: scroll;
}

.w-80 {
  width: 80%;
}
/* height */
.chat {
  max-height: 513px;
  min-height: 514px;
}
/* width */
.chat ::-webkit-scrollbar {
  width: 0px;
}

.chat-area textarea {
  resize: none;
  height: 68px !important;
}

.chat-area textarea:focus {
  outline: none;
  box-shadow: none;
  border-color: #cccccc;
}

.chat-area .btn:hover {
  color: #fff;
  background-color: rgba(8, 12, 59) !important;
}

/* code mirror */
.react-codemirror2 {
  height: 427px;
}

.cm-s-monokai.CodeMirror {
  height: 100%;
}

.chatView .list-group {
  max-height: 395px !important;
}
.CodeMirror {
  min-height: 107%;
  max-height: 107%;
}
.codemirror .btn:hover {
  color: #fff;
  background-color: rgba(8, 12, 59) !important;
}
.btn-submit:hover {
  background-color: rgba(8, 12, 59) !important;
}
/* CHATBOX */

/* RESPONSIVE FOR IPAD PORTRAIT SCREEN */
@media only screen and (min-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  /* .react-codemirror2 {
    height: 479px;
  }
  .chat {
    max-height: 566px;
    min-height: 566px;
} */
}
