.chat {
  max-height: 480px;
  overflow: hidden;
  overflow-y: scroll;
}

.w-80 {
  width: 80%;
}
/* height */
.h-66vh {
  height: 67vh;
}
.chat {
  max-height: 512px;
}
/* width */
.chat ::-webkit-scrollbar {
  width: 0px;
}

.chat-area textarea {
  resize: none;
  height: 68px !important;
}

.chat-area textarea:focus {
  outline: none;
  box-shadow: none;
  border-color: #cccccc;
}

.chat-area .btn:hover {
  color: #fff;
  background-color: rgba(8, 12, 59) !important;
}

/* code mirror */
.react-codemirror2 {
  height: 426px;
}

.cm-s-monokai.CodeMirror {
  height: 100%;
}

.chatView .list-group {
  max-height: 395px !important;
}
.CodeMirror {
  min-height: 108%;
  max-height: 108%;
}
.codemirror .btn:hover {
  color: #fff;
  background-color: rgba(8, 12, 59) !important;
}
.btn-submit:hover {
  background-color: rgba(8, 12, 59) !important;
}
/* CHATBOX */
.messages-view {
  height: 59vh;
}
