.chat {
  max-height: 480px;
  overflow: hidden;
  overflow-y: scroll;
}

.w-80 {
  width: 80%;
}

/* width */
.chat ::-webkit-scrollbar {
  width: 0px;
}

.chat-area textarea {
  resize: none;
  height: 70px !important;
}

.chat-area textarea:focus {
  outline: none;
  box-shadow: none;
  border-color: #cccccc;
}

.chat-area .btn:hover {
  color: #fff;
  background-color: rgba(8, 12, 59) !important;
}

.codemirror .btn:hover {
  color: #fff;
  background-color: rgba(8, 12, 59) !important;
}

/* code mirror */
.react-codemirror2 {
  height: 400px;
}

.cm-s-monokai.CodeMirror {
  height: 100%;
}

.chatView .list-group {
  max-height: 395px !important;
}
