.chat {
  height: 67vh;
  overflow: hidden;
  overflow-y: scroll;
}
.z-index-99 {
  z-index: 99;
}
.w-80 {
  width: 80%;
}
.tutor-chat-room {
  height: 321px;
  overflow: hidden;
  overflow-y: scroll;
}
.chat ::-webkit-scrollbar {
  width: 0px;
}

.chat-area textarea {
  resize: none;
  height: 68px !important;
}

.chat-area textarea:focus {
  outline: none;
  box-shadow: none;
  border-color: #cccccc;
}

.chat-area .btn:hover {
  color: #fff;
  background-color: rgba(8, 12, 59) !important;
}

/* code mirror */
.react-codemirror2 {
  height: calc(100%);
}

.cm-s-monokai.CodeMirror {
  height: 100%;
}

.chatView .list-group {
  max-height: 395px !important;
}
.CodeMirror {
  min-height: 107%;
  max-height: 107%;
}
.codemirror .btn:hover {
  color: #fff;
  background-color: rgba(8, 12, 59) !important;
}
.btn-submit:hover {
  background-color: rgba(8, 12, 59) !important;
}
/* CHATBOX */

/* SUBMIT */
.submit-code .react-codemirror2 {
  height: calc(80%);
}
.submit-code .modal-content {
  height: 588px;
}
.submit-code .modal-dialog {
  max-width: 70%;
}
/* RESPONSIVE FOR IPAD PORTRAIT SCREEN */
@media only screen and (min-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  /* .react-codemirror2 {
    height: 479px;
  }
  .chat {
    max-height: 566px;
    min-height: 566px;
} */
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .submit-code .modal-dialog {
    max-width: 100%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
