.list-group {
  min-height: 395px;
  max-height: 621px;
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 17px;
  box-sizing: content-box;
}
.queue {
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 0px;
}
