.bg-light-blue {
  background-color: rgb(59, 56, 66, 0.6);
}

/* .masthead {
  height: 100vh;
  min-height: 500px;
  background: linear-gradient(to bottom, rgba(92, 77, 66, .5) 0, rgba(92, 77, 66, .5) 100%), url(https://www.xtrafondos.com/wallpapers/fortnite-battle-bus-3760.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */
