/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

a:focus {
  outline: none;
}
/* COLOR */
.bg-main {
  background-color: rgba(25, 30, 88) !important;
}
.bg-main-dark {
  background-color: rgba(8, 12, 59) !important;
}
.bg-sub {
  background-color: rgba(50, 55, 118) !important;
}
.bg-sub-80 {
  background-color: rgba(50, 55, 118, 0.8) !important;
}
.bg-sub-50 {
  background-color: rgba(50, 55, 118, 0.5) !important;
}
.bg-sub-light {
  background-color: rgba(84, 89, 147) !important;
}
.color-main {
  color: rgba(25, 30, 88);
}
.color-sub-light {
  color: rgba(84, 89, 147) !important;
}
.border-color-sub {
  border-color: rgba(50, 55, 118) !important;
}
.border-color-sub-light {
  border: 1px solid rgba(84, 89, 147) !important;
}
.border-left-sub-light {
  border-left: 1px solid rgba(84, 89, 147) !important;
}
.border-top-sub-light {
  border-top: 1px solid rgba(84, 89, 147) !important;
}
.border-right-sub-light {
  border-right: 1px solid rgba(84, 89, 147) !important;
}
.border-bottom-sub-light {
  border-bottom: 1px solid rgba(84, 89, 147) !important;
}
.text-grey {
  color: #4c4c4c;
}
/* Shape */
.circle {
  width: 150px;
  height: 150px;
}
/* font-size */
.font-small {
  font-size: 12px;
}
.fix-height {
  min-height: 69vh !important;
}
/* background picture */
.masthead {
  min-height: 67vh;
  background: linear-gradient(
      to bottom,
      rgba(50, 55, 118, 0.5) 0,
      rgba(50, 55, 118, 0.5) 100%
    ),
    url(https://wallpaperbro.com/img/996539.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.nav-link {
  padding: 0 0.5rem 0 0.5rem !important;
}
.navbar .navbar-nav li {
  border: 3px solid rgb(0, 0, 0, 0);
  transition: all 0.2s ease-in-out;
}
.navbar .navbar-nav li:hover {
  border: 3px solid #ffffff;
}
.navbar .navbar-nav .btn {
  padding: 0.5rem 0.75rem !important;
}
.btn:focus {
  box-shadow: none !important;
}
/* FOOTER CSS */
.about {
  word-wrap: break-word;
}
.fa-facebook:hover {
  color: rgb(73, 96, 202);
}
.fa-twitter:hover {
  color: rgb(31, 148, 177);
}
.fa-youtube:hover {
  color: red;
}
.fa-instagram:hover {
  color: rgb(231, 116, 21);
}
.fa-university:hover {
  color: white;
}

/* LINK */
a {
  color: rgba(50, 58, 20, 0.7) !important;
}
a:hover {
  text-decoration: none !important;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}
.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
:focus {
  outline: 1px solid rgba(50, 58, 20, 0.7);
}
.form input[type='submit'],
button {
  font: inherit;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}
/* SIGNUP/LOGIN CSS */

/* SCROLL BAR CSS */
/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Z-INDEX */
.z-1000 {
  z-index: 1000;
}
/* RESPONSIVE MASTHEAD */
/* FOR IPAD PRO*/
@media only screen and (min-width: 768px) and (max-height: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .masthead {
    min-height: 660px;
  }
}
/* FOR IPAD PRO */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .masthead {
    min-height: 1050px;
  }
}

/* STAR EFFECT */
#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1768px 692px #fff, 754px 1250px #fff, 1225px 1824px #fff,
    283px 1523px #fff, 1122px 1057px #fff, 845px 1493px #fff, 1539px 1235px #fff,
    637px 665px #fff, 1686px 762px #fff, 1214px 1676px #fff, 992px 23px #fff,
    1016px 1517px #fff, 1026px 603px #fff, 1039px 901px #fff, 1351px 200px #fff,
    1890px 1114px #fff, 1533px 1142px #fff, 998px 1256px #fff, 759px 1879px #fff,
    1848px 1646px #fff, 1608px 1496px #fff, 1785px 425px #fff, 366px 1598px #fff,
    861px 1900px #fff, 1641px 1442px #fff, 1524px 938px #fff, 1878px 1838px #fff,
    1227px 1179px #fff, 1746px 1431px #fff, 740px 664px #fff, 1825px 709px #fff,
    582px 930px #fff, 346px 1631px #fff, 1250px 1965px #fff, 1395px 1530px #fff,
    841px 507px #fff, 777px 1798px #fff, 1941px 1251px #fff, 1762px 1770px #fff,
    280px 418px #fff, 744px 861px #fff, 1585px 1104px #fff, 511px 1864px #fff,
    1157px 1px #fff, 1089px 139px #fff, 1096px 1571px #fff, 203px 465px #fff,
    1020px 422px #fff, 764px 823px #fff, 1446px 737px #fff, 1462px 563px #fff,
    1227px 769px #fff, 1353px 1942px #fff, 1656px 600px #fff, 463px 580px #fff,
    42px 521px #fff, 1875px 1562px #fff, 1029px 1238px #fff, 251px 75px #fff,
    1642px 1530px #fff, 240px 1466px #fff, 113px 1693px #fff, 604px 1668px #fff,
    781px 1332px #fff, 492px 501px #fff, 667px 1150px #fff, 1186px 1109px #fff,
    152px 1530px #fff, 1366px 830px #fff, 1047px 308px #fff, 1794px 962px #fff,
    1103px 1410px #fff, 207px 1296px #fff, 1707px 509px #fff, 544px 1253px #fff,
    490px 1873px #fff, 1701px 1129px #fff, 944px 1258px #fff, 1460px 714px #fff,
    307px 751px #fff, 603px 1748px #fff, 1437px 230px #fff, 1079px 1925px #fff,
    1734px 168px #fff, 1689px 231px #fff, 1847px 518px #fff, 395px 398px #fff,
    668px 1940px #fff, 1676px 1759px #fff, 568px 1878px #fff, 1531px 210px #fff,
    1987px 502px #fff, 1607px 1617px #fff, 1589px 1949px #fff, 751px 579px #fff,
    1487px 1722px #fff, 1179px 1472px #fff, 1876px 144px #fff, 1582px 429px #fff,
    1299px 1445px #fff, 43px 1124px #fff, 142px 1094px #fff, 1809px 1747px #fff,
    878px 333px #fff, 430px 844px #fff, 898px 1912px #fff, 1958px 1854px #fff,
    701px 282px #fff, 1391px 1896px #fff, 274px 1478px #fff, 982px 69px #fff,
    619px 154px #fff, 272px 1030px #fff, 23px 98px #fff, 823px 1843px #fff,
    750px 1935px #fff, 1670px 1391px #fff, 1514px 1058px #fff, 912px 309px #fff,
    314px 1983px #fff, 492px 1624px #fff, 1069px 1348px #fff, 141px 1066px #fff,
    811px 537px #fff, 1459px 1767px #fff, 843px 1039px #fff, 628px 283px #fff,
    1897px 1973px #fff, 597px 1738px #fff, 1287px 714px #fff, 885px 1180px #fff,
    766px 1622px #fff, 769px 703px #fff, 341px 1967px #fff, 916px 1907px #fff,
    3px 1188px #fff, 904px 564px #fff, 1041px 38px #fff, 395px 982px #fff,
    598px 1554px #fff, 1767px 426px #fff, 744px 1882px #fff, 271px 56px #fff,
    206px 192px #fff, 1614px 1641px #fff, 1372px 375px #fff, 346px 1350px #fff,
    885px 329px #fff, 1556px 1396px #fff, 1214px 1444px #fff, 1748px 1600px #fff,
    763px 704px #fff, 710px 315px #fff, 644px 802px #fff, 1936px 1635px #fff,
    824px 226px #fff, 3px 1693px #fff, 78px 1769px #fff, 1396px 293px #fff,
    108px 1244px #fff, 375px 339px #fff, 981px 1279px #fff, 1872px 1876px #fff,
    1881px 1638px #fff, 287px 591px #fff, 580px 774px #fff, 1560px 359px #fff,
    1821px 305px #fff, 922px 1520px #fff, 1797px 448px #fff, 972px 995px #fff,
    218px 1770px #fff, 522px 17px #fff, 669px 76px #fff, 1135px 1438px #fff,
    1314px 1329px #fff, 710px 1143px #fff, 780px 1572px #fff, 409px 1481px #fff,
    1999px 1887px #fff, 1362px 1929px #fff, 1428px 1389px #fff,
    985px 1715px #fff, 926px 1112px #fff, 687px 1545px #fff, 895px 897px #fff,
    901px 142px #fff, 1389px 268px #fff, 1668px 966px #fff, 1457px 1106px #fff,
    48px 1592px #fff, 128px 1877px #fff, 1244px 613px #fff, 1874px 1325px #fff,
    311px 519px #fff, 1865px 13px #fff, 723px 1437px #fff, 14px 498px #fff,
    817px 715px #fff, 1012px 1159px #fff, 1264px 945px #fff, 1616px 846px #fff,
    1534px 138px #fff, 1687px 373px #fff, 936px 407px #fff, 764px 1445px #fff,
    36px 996px #fff, 1617px 1446px #fff, 833px 831px #fff, 1915px 927px #fff,
    381px 1880px #fff, 1660px 1126px #fff, 1693px 103px #fff, 1221px 1118px #fff,
    1157px 580px #fff, 320px 68px #fff, 163px 228px #fff, 1998px 1152px #fff,
    1231px 1943px #fff, 1079px 920px #fff, 1827px 762px #fff, 535px 1597px #fff,
    483px 1693px #fff, 806px 342px #fff, 1668px 1822px #fff, 1514px 1095px #fff,
    542px 1740px #fff, 622px 1212px #fff, 312px 1772px #fff, 1743px 1617px #fff,
    1076px 1357px #fff, 587px 1622px #fff, 734px 97px #fff, 1518px 1925px #fff,
    1181px 1795px #fff, 335px 33px #fff, 205px 220px #fff, 352px 721px #fff,
    1340px 597px #fff, 1404px 1090px #fff, 1400px 350px #fff, 1043px 1830px #fff,
    814px 62px #fff, 1647px 611px #fff, 1512px 1245px #fff, 1605px 671px #fff,
    804px 908px #fff, 628px 1623px #fff, 1297px 1897px #fff, 1032px 513px #fff,
    783px 1070px #fff, 650px 845px #fff, 1607px 365px #fff, 609px 941px #fff,
    1345px 1069px #fff, 903px 239px #fff, 558px 1250px #fff, 1251px 905px #fff,
    19px 1287px #fff, 1421px 1195px #fff, 962px 289px #fff, 1771px 1459px #fff,
    1877px 1249px #fff, 340px 1141px #fff, 1512px 1168px #fff, 793px 1466px #fff,
    932px 23px #fff, 1736px 298px #fff, 945px 1567px #fff, 1000px 814px #fff,
    1474px 1108px #fff, 291px 1303px #fff, 348px 705px #fff, 149px 69px #fff,
    1275px 1003px #fff, 1102px 966px #fff, 735px 1679px #fff, 527px 1370px #fff,
    98px 1454px #fff, 466px 1592px #fff, 1081px 236px #fff, 1193px 691px #fff,
    56px 758px #fff, 1248px 120px #fff, 1928px 856px #fff, 1469px 462px #fff,
    1483px 344px #fff, 1376px 509px #fff, 292px 1654px #fff, 1691px 1022px #fff,
    1574px 1621px #fff, 1511px 793px #fff, 1759px 465px #fff, 928px 1320px #fff,
    1577px 787px #fff, 1111px 714px #fff, 168px 848px #fff, 835px 90px #fff,
    927px 648px #fff, 1885px 646px #fff, 1775px 1968px #fff, 355px 1894px #fff,
    805px 1938px #fff, 1251px 832px #fff, 1586px 1657px #fff, 1938px 947px #fff,
    46px 1417px #fff, 614px 611px #fff, 1910px 447px #fff, 505px 1446px #fff,
    1531px 1644px #fff, 1255px 1393px #fff, 1987px 225px #fff, 282px 2px #fff,
    1337px 1025px #fff, 1077px 174px #fff, 493px 732px #fff, 1338px 1375px #fff,
    918px 1042px #fff, 1191px 914px #fff, 1597px 317px #fff, 487px 896px #fff,
    142px 1567px #fff, 355px 1570px #fff, 1112px 45px #fff, 1590px 1424px #fff,
    874px 1514px #fff, 1057px 171px #fff, 1779px 1182px #fff, 772px 174px #fff,
    1728px 1025px #fff, 164px 407px #fff, 1823px 1914px #fff, 165px 1555px #fff,
    1425px 502px #fff, 651px 653px #fff, 580px 1214px #fff, 32px 1350px #fff,
    1563px 1459px #fff, 171px 95px #fff, 1744px 1293px #fff, 956px 808px #fff,
    677px 1327px #fff, 34px 211px #fff, 287px 1025px #fff, 292px 260px #fff,
    473px 1071px #fff, 335px 1985px #fff, 1953px 1724px #fff, 74px 882px #fff,
    951px 1953px #fff, 1880px 262px #fff, 830px 1112px #fff, 1532px 1781px #fff,
    394px 1802px #fff, 1435px 45px #fff, 638px 1458px #fff, 681px 499px #fff,
    520px 444px #fff, 1663px 924px #fff, 1876px 588px #fff, 584px 526px #fff,
    1536px 863px #fff, 31px 1779px #fff, 195px 237px #fff, 1372px 776px #fff,
    1232px 727px #fff, 1486px 847px #fff, 958px 86px #fff, 1792px 824px #fff,
    604px 1514px #fff, 735px 599px #fff, 881px 1714px #fff, 1701px 1857px #fff,
    1090px 1320px #fff, 1514px 897px #fff, 204px 91px #fff, 1789px 265px #fff,
    1174px 90px #fff, 1972px 1257px #fff, 1609px 1293px #fff, 209px 141px #fff,
    1827px 780px #fff, 1784px 1284px #fff, 521px 479px #fff, 1402px 809px #fff,
    1650px 1510px #fff, 676px 432px #fff, 604px 1838px #fff, 628px 424px #fff,
    1317px 1854px #fff, 1099px 1552px #fff, 855px 1651px #fff,
    1371px 1865px #fff, 1844px 1078px #fff, 898px 341px #fff, 1212px 880px #fff,
    1872px 1779px #fff, 1200px 267px #fff, 56px 428px #fff, 544px 637px #fff,
    1677px 1020px #fff, 1793px 636px #fff, 358px 503px #fff, 678px 1057px #fff,
    534px 807px #fff, 797px 1112px #fff, 776px 959px #fff, 761px 1155px #fff,
    699px 1070px #fff, 222px 909px #fff, 1297px 1422px #fff, 1496px 1615px #fff,
    1959px 477px #fff, 1800px 1644px #fff, 350px 531px #fff, 1440px 485px #fff,
    183px 6px #fff, 1454px 928px #fff, 1558px 410px #fff, 1838px 1078px #fff,
    1558px 1849px #fff, 888px 1761px #fff, 1882px 14px #fff, 218px 1601px #fff,
    212px 1342px #fff, 487px 747px #fff, 668px 171px #fff, 287px 375px #fff,
    1555px 1491px #fff, 25px 1465px #fff, 401px 1907px #fff, 1801px 1711px #fff,
    171px 111px #fff, 668px 1189px #fff, 33px 226px #fff, 914px 711px #fff,
    109px 897px #fff, 1591px 464px #fff, 1356px 1395px #fff, 1721px 496px #fff,
    1507px 1702px #fff, 944px 125px #fff, 524px 1199px #fff, 1317px 487px #fff,
    1656px 1436px #fff, 433px 1451px #fff, 985px 638px #fff, 885px 1560px #fff,
    1939px 390px #fff, 953px 1606px #fff, 1302px 961px #fff, 1867px 462px #fff,
    1453px 925px #fff, 891px 411px #fff, 982px 955px #fff, 521px 1749px #fff,
    681px 1864px #fff, 1772px 1414px #fff, 1735px 969px #fff, 1123px 177px #fff,
    1674px 1759px #fff, 1838px 1255px #fff, 1605px 1602px #fff, 53px 1233px #fff,
    1723px 413px #fff, 1013px 1289px #fff, 672px 451px #fff, 300px 1910px #fff,
    76px 444px #fff, 1837px 460px #fff, 320px 746px #fff, 1562px 1551px #fff,
    981px 1938px #fff, 1907px 1762px #fff, 1247px 934px #fff, 609px 354px #fff,
    138px 315px #fff, 1568px 560px #fff, 1292px 1877px #fff, 1890px 870px #fff,
    292px 1988px #fff, 280px 595px #fff, 776px 1911px #fff, 703px 1723px #fff,
    1841px 1714px #fff, 803px 1021px #fff, 784px 115px #fff, 514px 1516px #fff,
    1097px 191px #fff, 1851px 731px #fff, 938px 1585px #fff, 1618px 69px #fff,
    1229px 589px #fff, 816px 1436px #fff, 54px 277px #fff, 1126px 684px #fff,
    881px 1880px #fff, 1149px 423px #fff, 935px 282px #fff, 598px 290px #fff,
    192px 896px #fff, 1866px 1864px #fff, 1370px 228px #fff, 1714px 556px #fff,
    903px 1471px #fff, 1428px 1009px #fff, 1716px 1196px #fff,
    1139px 1993px #fff, 1539px 1431px #fff, 75px 1340px #fff, 204px 392px #fff,
    1497px 1147px #fff, 707px 765px #fff, 74px 1462px #fff, 632px 60px #fff,
    841px 47px #fff, 413px 882px #fff, 1374px 1255px #fff, 280px 267px #fff,
    553px 1870px #fff, 1618px 1544px #fff, 453px 1653px #fff, 1812px 1636px #fff,
    971px 245px #fff, 1764px 1215px #fff, 1966px 871px #fff, 499px 837px #fff,
    929px 1970px #fff, 595px 1559px #fff, 488px 36px #fff, 364px 314px #fff,
    931px 1388px #fff, 1747px 1425px #fff, 1926px 1654px #fff, 651px 1563px #fff,
    429px 677px #fff, 913px 1573px #fff, 30px 540px #fff, 1646px 787px #fff,
    1467px 828px #fff, 955px 1648px #fff, 1311px 1234px #fff, 226px 553px #fff,
    788px 1964px #fff, 798px 1602px #fff, 1075px 453px #fff, 1012px 1760px #fff,
    1917px 559px #fff, 572px 290px #fff, 1187px 59px #fff, 1775px 61px #fff,
    105px 1422px #fff, 428px 439px #fff, 601px 1570px #fff, 1951px 312px #fff,
    1254px 1046px #fff, 174px 324px #fff, 431px 1519px #fff, 606px 334px #fff,
    482px 1617px #fff, 625px 79px #fff, 1325px 1463px #fff, 1995px 966px #fff,
    1878px 138px #fff, 1765px 546px #fff, 88px 531px #fff, 1683px 652px #fff,
    1275px 915px #fff, 1760px 658px #fff, 1107px 836px #fff, 248px 1767px #fff,
    1450px 894px #fff, 1044px 390px #fff, 228px 1272px #fff, 1058px 1254px #fff,
    1430px 1369px #fff, 159px 1351px #fff, 1377px 952px #fff, 1796px 1986px #fff,
    1965px 359px #fff, 513px 1950px #fff, 971px 803px #fff, 1556px 880px #fff,
    873px 515px #fff, 264px 26px #fff, 675px 812px #fff, 1544px 1413px #fff,
    69px 948px #fff, 544px 1676px #fff, 351px 687px #fff, 868px 225px #fff,
    1116px 1137px #fff, 1496px 432px #fff, 919px 1486px #fff, 1382px 1371px #fff,
    249px 1118px #fff, 1617px 52px #fff, 187px 1019px #fff, 1023px 10px #fff,
    787px 960px #fff, 381px 165px #fff, 163px 813px #fff, 1222px 327px #fff,
    70px 119px #fff, 1760px 1793px #fff, 1489px 1021px #fff, 161px 1851px #fff,
    187px 1246px #fff, 876px 560px #fff, 1663px 1482px #fff, 1827px 354px #fff,
    1737px 236px #fff, 1630px 471px #fff, 713px 152px #fff, 42px 1174px #fff,
    441px 1969px #fff, 1727px 1071px #fff, 1060px 428px #fff, 742px 220px #fff,
    1025px 205px #fff, 323px 271px #fff, 1598px 1960px #fff, 1940px 257px #fff,
    327px 1636px #fff, 1187px 643px #fff, 1846px 1519px #fff, 361px 1551px #fff,
    227px 1561px #fff, 1175px 79px #fff, 506px 160px #fff, 1743px 956px #fff,
    1762px 1026px #fff, 1916px 1674px #fff, 1920px 1748px #fff,
    1434px 1722px #fff, 1802px 211px #fff, 959px 1481px #fff, 890px 977px #fff,
    1358px 1826px #fff, 655px 1721px #fff, 1495px 619px #fff, 377px 547px #fff,
    1736px 1009px #fff, 831px 1233px #fff, 385px 1652px #fff, 937px 518px #fff,
    336px 1589px #fff, 895px 1961px #fff, 1px 1212px #fff, 1749px 1822px #fff,
    1274px 947px #fff, 184px 1936px #fff, 789px 979px #fff, 141px 996px #fff,
    1732px 328px #fff, 1728px 1022px #fff, 1257px 419px #fff, 280px 160px #fff,
    1253px 1865px #fff, 1037px 538px #fff, 1177px 288px #fff, 1251px 1572px #fff,
    448px 1542px #fff, 1016px 456px #fff, 992px 1105px #fff, 190px 1864px #fff,
    1957px 1031px #fff, 1139px 1125px #fff, 69px 1920px #fff, 800px 1148px #fff,
    523px 18px #fff, 1944px 1570px #fff, 907px 1207px #fff, 531px 347px #fff,
    1421px 305px #fff, 576px 1555px #fff, 435px 123px #fff, 742px 304px #fff,
    1088px 1832px #fff, 1758px 1264px #fff, 1223px 1294px #fff,
    1925px 1827px #fff, 1408px 1206px #fff, 822px 639px #fff, 1713px 13px #fff,
    1883px 306px #fff, 166px 1696px #fff, 1739px 1407px #fff, 1441px 202px #fff,
    990px 1047px #fff, 370px 158px #fff, 1566px 377px #fff, 556px 1598px #fff,
    1473px 285px #fff, 1496px 542px #fff, 1922px 1478px #fff, 1912px 1637px #fff,
    316px 1181px #fff, 147px 583px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1768px 692px #fff, 754px 1250px #fff, 1225px 1824px #fff,
    283px 1523px #fff, 1122px 1057px #fff, 845px 1493px #fff, 1539px 1235px #fff,
    637px 665px #fff, 1686px 762px #fff, 1214px 1676px #fff, 992px 23px #fff,
    1016px 1517px #fff, 1026px 603px #fff, 1039px 901px #fff, 1351px 200px #fff,
    1890px 1114px #fff, 1533px 1142px #fff, 998px 1256px #fff, 759px 1879px #fff,
    1848px 1646px #fff, 1608px 1496px #fff, 1785px 425px #fff, 366px 1598px #fff,
    861px 1900px #fff, 1641px 1442px #fff, 1524px 938px #fff, 1878px 1838px #fff,
    1227px 1179px #fff, 1746px 1431px #fff, 740px 664px #fff, 1825px 709px #fff,
    582px 930px #fff, 346px 1631px #fff, 1250px 1965px #fff, 1395px 1530px #fff,
    841px 507px #fff, 777px 1798px #fff, 1941px 1251px #fff, 1762px 1770px #fff,
    280px 418px #fff, 744px 861px #fff, 1585px 1104px #fff, 511px 1864px #fff,
    1157px 1px #fff, 1089px 139px #fff, 1096px 1571px #fff, 203px 465px #fff,
    1020px 422px #fff, 764px 823px #fff, 1446px 737px #fff, 1462px 563px #fff,
    1227px 769px #fff, 1353px 1942px #fff, 1656px 600px #fff, 463px 580px #fff,
    42px 521px #fff, 1875px 1562px #fff, 1029px 1238px #fff, 251px 75px #fff,
    1642px 1530px #fff, 240px 1466px #fff, 113px 1693px #fff, 604px 1668px #fff,
    781px 1332px #fff, 492px 501px #fff, 667px 1150px #fff, 1186px 1109px #fff,
    152px 1530px #fff, 1366px 830px #fff, 1047px 308px #fff, 1794px 962px #fff,
    1103px 1410px #fff, 207px 1296px #fff, 1707px 509px #fff, 544px 1253px #fff,
    490px 1873px #fff, 1701px 1129px #fff, 944px 1258px #fff, 1460px 714px #fff,
    307px 751px #fff, 603px 1748px #fff, 1437px 230px #fff, 1079px 1925px #fff,
    1734px 168px #fff, 1689px 231px #fff, 1847px 518px #fff, 395px 398px #fff,
    668px 1940px #fff, 1676px 1759px #fff, 568px 1878px #fff, 1531px 210px #fff,
    1987px 502px #fff, 1607px 1617px #fff, 1589px 1949px #fff, 751px 579px #fff,
    1487px 1722px #fff, 1179px 1472px #fff, 1876px 144px #fff, 1582px 429px #fff,
    1299px 1445px #fff, 43px 1124px #fff, 142px 1094px #fff, 1809px 1747px #fff,
    878px 333px #fff, 430px 844px #fff, 898px 1912px #fff, 1958px 1854px #fff,
    701px 282px #fff, 1391px 1896px #fff, 274px 1478px #fff, 982px 69px #fff,
    619px 154px #fff, 272px 1030px #fff, 23px 98px #fff, 823px 1843px #fff,
    750px 1935px #fff, 1670px 1391px #fff, 1514px 1058px #fff, 912px 309px #fff,
    314px 1983px #fff, 492px 1624px #fff, 1069px 1348px #fff, 141px 1066px #fff,
    811px 537px #fff, 1459px 1767px #fff, 843px 1039px #fff, 628px 283px #fff,
    1897px 1973px #fff, 597px 1738px #fff, 1287px 714px #fff, 885px 1180px #fff,
    766px 1622px #fff, 769px 703px #fff, 341px 1967px #fff, 916px 1907px #fff,
    3px 1188px #fff, 904px 564px #fff, 1041px 38px #fff, 395px 982px #fff,
    598px 1554px #fff, 1767px 426px #fff, 744px 1882px #fff, 271px 56px #fff,
    206px 192px #fff, 1614px 1641px #fff, 1372px 375px #fff, 346px 1350px #fff,
    885px 329px #fff, 1556px 1396px #fff, 1214px 1444px #fff, 1748px 1600px #fff,
    763px 704px #fff, 710px 315px #fff, 644px 802px #fff, 1936px 1635px #fff,
    824px 226px #fff, 3px 1693px #fff, 78px 1769px #fff, 1396px 293px #fff,
    108px 1244px #fff, 375px 339px #fff, 981px 1279px #fff, 1872px 1876px #fff,
    1881px 1638px #fff, 287px 591px #fff, 580px 774px #fff, 1560px 359px #fff,
    1821px 305px #fff, 922px 1520px #fff, 1797px 448px #fff, 972px 995px #fff,
    218px 1770px #fff, 522px 17px #fff, 669px 76px #fff, 1135px 1438px #fff,
    1314px 1329px #fff, 710px 1143px #fff, 780px 1572px #fff, 409px 1481px #fff,
    1999px 1887px #fff, 1362px 1929px #fff, 1428px 1389px #fff,
    985px 1715px #fff, 926px 1112px #fff, 687px 1545px #fff, 895px 897px #fff,
    901px 142px #fff, 1389px 268px #fff, 1668px 966px #fff, 1457px 1106px #fff,
    48px 1592px #fff, 128px 1877px #fff, 1244px 613px #fff, 1874px 1325px #fff,
    311px 519px #fff, 1865px 13px #fff, 723px 1437px #fff, 14px 498px #fff,
    817px 715px #fff, 1012px 1159px #fff, 1264px 945px #fff, 1616px 846px #fff,
    1534px 138px #fff, 1687px 373px #fff, 936px 407px #fff, 764px 1445px #fff,
    36px 996px #fff, 1617px 1446px #fff, 833px 831px #fff, 1915px 927px #fff,
    381px 1880px #fff, 1660px 1126px #fff, 1693px 103px #fff, 1221px 1118px #fff,
    1157px 580px #fff, 320px 68px #fff, 163px 228px #fff, 1998px 1152px #fff,
    1231px 1943px #fff, 1079px 920px #fff, 1827px 762px #fff, 535px 1597px #fff,
    483px 1693px #fff, 806px 342px #fff, 1668px 1822px #fff, 1514px 1095px #fff,
    542px 1740px #fff, 622px 1212px #fff, 312px 1772px #fff, 1743px 1617px #fff,
    1076px 1357px #fff, 587px 1622px #fff, 734px 97px #fff, 1518px 1925px #fff,
    1181px 1795px #fff, 335px 33px #fff, 205px 220px #fff, 352px 721px #fff,
    1340px 597px #fff, 1404px 1090px #fff, 1400px 350px #fff, 1043px 1830px #fff,
    814px 62px #fff, 1647px 611px #fff, 1512px 1245px #fff, 1605px 671px #fff,
    804px 908px #fff, 628px 1623px #fff, 1297px 1897px #fff, 1032px 513px #fff,
    783px 1070px #fff, 650px 845px #fff, 1607px 365px #fff, 609px 941px #fff,
    1345px 1069px #fff, 903px 239px #fff, 558px 1250px #fff, 1251px 905px #fff,
    19px 1287px #fff, 1421px 1195px #fff, 962px 289px #fff, 1771px 1459px #fff,
    1877px 1249px #fff, 340px 1141px #fff, 1512px 1168px #fff, 793px 1466px #fff,
    932px 23px #fff, 1736px 298px #fff, 945px 1567px #fff, 1000px 814px #fff,
    1474px 1108px #fff, 291px 1303px #fff, 348px 705px #fff, 149px 69px #fff,
    1275px 1003px #fff, 1102px 966px #fff, 735px 1679px #fff, 527px 1370px #fff,
    98px 1454px #fff, 466px 1592px #fff, 1081px 236px #fff, 1193px 691px #fff,
    56px 758px #fff, 1248px 120px #fff, 1928px 856px #fff, 1469px 462px #fff,
    1483px 344px #fff, 1376px 509px #fff, 292px 1654px #fff, 1691px 1022px #fff,
    1574px 1621px #fff, 1511px 793px #fff, 1759px 465px #fff, 928px 1320px #fff,
    1577px 787px #fff, 1111px 714px #fff, 168px 848px #fff, 835px 90px #fff,
    927px 648px #fff, 1885px 646px #fff, 1775px 1968px #fff, 355px 1894px #fff,
    805px 1938px #fff, 1251px 832px #fff, 1586px 1657px #fff, 1938px 947px #fff,
    46px 1417px #fff, 614px 611px #fff, 1910px 447px #fff, 505px 1446px #fff,
    1531px 1644px #fff, 1255px 1393px #fff, 1987px 225px #fff, 282px 2px #fff,
    1337px 1025px #fff, 1077px 174px #fff, 493px 732px #fff, 1338px 1375px #fff,
    918px 1042px #fff, 1191px 914px #fff, 1597px 317px #fff, 487px 896px #fff,
    142px 1567px #fff, 355px 1570px #fff, 1112px 45px #fff, 1590px 1424px #fff,
    874px 1514px #fff, 1057px 171px #fff, 1779px 1182px #fff, 772px 174px #fff,
    1728px 1025px #fff, 164px 407px #fff, 1823px 1914px #fff, 165px 1555px #fff,
    1425px 502px #fff, 651px 653px #fff, 580px 1214px #fff, 32px 1350px #fff,
    1563px 1459px #fff, 171px 95px #fff, 1744px 1293px #fff, 956px 808px #fff,
    677px 1327px #fff, 34px 211px #fff, 287px 1025px #fff, 292px 260px #fff,
    473px 1071px #fff, 335px 1985px #fff, 1953px 1724px #fff, 74px 882px #fff,
    951px 1953px #fff, 1880px 262px #fff, 830px 1112px #fff, 1532px 1781px #fff,
    394px 1802px #fff, 1435px 45px #fff, 638px 1458px #fff, 681px 499px #fff,
    520px 444px #fff, 1663px 924px #fff, 1876px 588px #fff, 584px 526px #fff,
    1536px 863px #fff, 31px 1779px #fff, 195px 237px #fff, 1372px 776px #fff,
    1232px 727px #fff, 1486px 847px #fff, 958px 86px #fff, 1792px 824px #fff,
    604px 1514px #fff, 735px 599px #fff, 881px 1714px #fff, 1701px 1857px #fff,
    1090px 1320px #fff, 1514px 897px #fff, 204px 91px #fff, 1789px 265px #fff,
    1174px 90px #fff, 1972px 1257px #fff, 1609px 1293px #fff, 209px 141px #fff,
    1827px 780px #fff, 1784px 1284px #fff, 521px 479px #fff, 1402px 809px #fff,
    1650px 1510px #fff, 676px 432px #fff, 604px 1838px #fff, 628px 424px #fff,
    1317px 1854px #fff, 1099px 1552px #fff, 855px 1651px #fff,
    1371px 1865px #fff, 1844px 1078px #fff, 898px 341px #fff, 1212px 880px #fff,
    1872px 1779px #fff, 1200px 267px #fff, 56px 428px #fff, 544px 637px #fff,
    1677px 1020px #fff, 1793px 636px #fff, 358px 503px #fff, 678px 1057px #fff,
    534px 807px #fff, 797px 1112px #fff, 776px 959px #fff, 761px 1155px #fff,
    699px 1070px #fff, 222px 909px #fff, 1297px 1422px #fff, 1496px 1615px #fff,
    1959px 477px #fff, 1800px 1644px #fff, 350px 531px #fff, 1440px 485px #fff,
    183px 6px #fff, 1454px 928px #fff, 1558px 410px #fff, 1838px 1078px #fff,
    1558px 1849px #fff, 888px 1761px #fff, 1882px 14px #fff, 218px 1601px #fff,
    212px 1342px #fff, 487px 747px #fff, 668px 171px #fff, 287px 375px #fff,
    1555px 1491px #fff, 25px 1465px #fff, 401px 1907px #fff, 1801px 1711px #fff,
    171px 111px #fff, 668px 1189px #fff, 33px 226px #fff, 914px 711px #fff,
    109px 897px #fff, 1591px 464px #fff, 1356px 1395px #fff, 1721px 496px #fff,
    1507px 1702px #fff, 944px 125px #fff, 524px 1199px #fff, 1317px 487px #fff,
    1656px 1436px #fff, 433px 1451px #fff, 985px 638px #fff, 885px 1560px #fff,
    1939px 390px #fff, 953px 1606px #fff, 1302px 961px #fff, 1867px 462px #fff,
    1453px 925px #fff, 891px 411px #fff, 982px 955px #fff, 521px 1749px #fff,
    681px 1864px #fff, 1772px 1414px #fff, 1735px 969px #fff, 1123px 177px #fff,
    1674px 1759px #fff, 1838px 1255px #fff, 1605px 1602px #fff, 53px 1233px #fff,
    1723px 413px #fff, 1013px 1289px #fff, 672px 451px #fff, 300px 1910px #fff,
    76px 444px #fff, 1837px 460px #fff, 320px 746px #fff, 1562px 1551px #fff,
    981px 1938px #fff, 1907px 1762px #fff, 1247px 934px #fff, 609px 354px #fff,
    138px 315px #fff, 1568px 560px #fff, 1292px 1877px #fff, 1890px 870px #fff,
    292px 1988px #fff, 280px 595px #fff, 776px 1911px #fff, 703px 1723px #fff,
    1841px 1714px #fff, 803px 1021px #fff, 784px 115px #fff, 514px 1516px #fff,
    1097px 191px #fff, 1851px 731px #fff, 938px 1585px #fff, 1618px 69px #fff,
    1229px 589px #fff, 816px 1436px #fff, 54px 277px #fff, 1126px 684px #fff,
    881px 1880px #fff, 1149px 423px #fff, 935px 282px #fff, 598px 290px #fff,
    192px 896px #fff, 1866px 1864px #fff, 1370px 228px #fff, 1714px 556px #fff,
    903px 1471px #fff, 1428px 1009px #fff, 1716px 1196px #fff,
    1139px 1993px #fff, 1539px 1431px #fff, 75px 1340px #fff, 204px 392px #fff,
    1497px 1147px #fff, 707px 765px #fff, 74px 1462px #fff, 632px 60px #fff,
    841px 47px #fff, 413px 882px #fff, 1374px 1255px #fff, 280px 267px #fff,
    553px 1870px #fff, 1618px 1544px #fff, 453px 1653px #fff, 1812px 1636px #fff,
    971px 245px #fff, 1764px 1215px #fff, 1966px 871px #fff, 499px 837px #fff,
    929px 1970px #fff, 595px 1559px #fff, 488px 36px #fff, 364px 314px #fff,
    931px 1388px #fff, 1747px 1425px #fff, 1926px 1654px #fff, 651px 1563px #fff,
    429px 677px #fff, 913px 1573px #fff, 30px 540px #fff, 1646px 787px #fff,
    1467px 828px #fff, 955px 1648px #fff, 1311px 1234px #fff, 226px 553px #fff,
    788px 1964px #fff, 798px 1602px #fff, 1075px 453px #fff, 1012px 1760px #fff,
    1917px 559px #fff, 572px 290px #fff, 1187px 59px #fff, 1775px 61px #fff,
    105px 1422px #fff, 428px 439px #fff, 601px 1570px #fff, 1951px 312px #fff,
    1254px 1046px #fff, 174px 324px #fff, 431px 1519px #fff, 606px 334px #fff,
    482px 1617px #fff, 625px 79px #fff, 1325px 1463px #fff, 1995px 966px #fff,
    1878px 138px #fff, 1765px 546px #fff, 88px 531px #fff, 1683px 652px #fff,
    1275px 915px #fff, 1760px 658px #fff, 1107px 836px #fff, 248px 1767px #fff,
    1450px 894px #fff, 1044px 390px #fff, 228px 1272px #fff, 1058px 1254px #fff,
    1430px 1369px #fff, 159px 1351px #fff, 1377px 952px #fff, 1796px 1986px #fff,
    1965px 359px #fff, 513px 1950px #fff, 971px 803px #fff, 1556px 880px #fff,
    873px 515px #fff, 264px 26px #fff, 675px 812px #fff, 1544px 1413px #fff,
    69px 948px #fff, 544px 1676px #fff, 351px 687px #fff, 868px 225px #fff,
    1116px 1137px #fff, 1496px 432px #fff, 919px 1486px #fff, 1382px 1371px #fff,
    249px 1118px #fff, 1617px 52px #fff, 187px 1019px #fff, 1023px 10px #fff,
    787px 960px #fff, 381px 165px #fff, 163px 813px #fff, 1222px 327px #fff,
    70px 119px #fff, 1760px 1793px #fff, 1489px 1021px #fff, 161px 1851px #fff,
    187px 1246px #fff, 876px 560px #fff, 1663px 1482px #fff, 1827px 354px #fff,
    1737px 236px #fff, 1630px 471px #fff, 713px 152px #fff, 42px 1174px #fff,
    441px 1969px #fff, 1727px 1071px #fff, 1060px 428px #fff, 742px 220px #fff,
    1025px 205px #fff, 323px 271px #fff, 1598px 1960px #fff, 1940px 257px #fff,
    327px 1636px #fff, 1187px 643px #fff, 1846px 1519px #fff, 361px 1551px #fff,
    227px 1561px #fff, 1175px 79px #fff, 506px 160px #fff, 1743px 956px #fff,
    1762px 1026px #fff, 1916px 1674px #fff, 1920px 1748px #fff,
    1434px 1722px #fff, 1802px 211px #fff, 959px 1481px #fff, 890px 977px #fff,
    1358px 1826px #fff, 655px 1721px #fff, 1495px 619px #fff, 377px 547px #fff,
    1736px 1009px #fff, 831px 1233px #fff, 385px 1652px #fff, 937px 518px #fff,
    336px 1589px #fff, 895px 1961px #fff, 1px 1212px #fff, 1749px 1822px #fff,
    1274px 947px #fff, 184px 1936px #fff, 789px 979px #fff, 141px 996px #fff,
    1732px 328px #fff, 1728px 1022px #fff, 1257px 419px #fff, 280px 160px #fff,
    1253px 1865px #fff, 1037px 538px #fff, 1177px 288px #fff, 1251px 1572px #fff,
    448px 1542px #fff, 1016px 456px #fff, 992px 1105px #fff, 190px 1864px #fff,
    1957px 1031px #fff, 1139px 1125px #fff, 69px 1920px #fff, 800px 1148px #fff,
    523px 18px #fff, 1944px 1570px #fff, 907px 1207px #fff, 531px 347px #fff,
    1421px 305px #fff, 576px 1555px #fff, 435px 123px #fff, 742px 304px #fff,
    1088px 1832px #fff, 1758px 1264px #fff, 1223px 1294px #fff,
    1925px 1827px #fff, 1408px 1206px #fff, 822px 639px #fff, 1713px 13px #fff,
    1883px 306px #fff, 166px 1696px #fff, 1739px 1407px #fff, 1441px 202px #fff,
    990px 1047px #fff, 370px 158px #fff, 1566px 377px #fff, 556px 1598px #fff,
    1473px 285px #fff, 1496px 542px #fff, 1922px 1478px #fff, 1912px 1637px #fff,
    316px 1181px #fff, 147px 583px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1858px 1323px #fff, 1518px 625px #fff, 1987px 1407px #fff,
    1115px 1343px #fff, 797px 175px #fff, 1345px 1305px #fff, 811px 973px #fff,
    1748px 262px #fff, 346px 743px #fff, 618px 61px #fff, 1234px 540px #fff,
    86px 1284px #fff, 1257px 292px #fff, 1371px 517px #fff, 166px 409px #fff,
    805px 569px #fff, 305px 349px #fff, 1975px 191px #fff, 112px 1252px #fff,
    30px 122px #fff, 1308px 1697px #fff, 1311px 1086px #fff, 779px 36px #fff,
    467px 914px #fff, 1353px 1677px #fff, 882px 415px #fff, 645px 1568px #fff,
    71px 1171px #fff, 1274px 1210px #fff, 1870px 1743px #fff, 901px 1144px #fff,
    1466px 1259px #fff, 1384px 447px #fff, 1334px 867px #fff, 1598px 1598px #fff,
    1878px 1715px #fff, 1300px 878px #fff, 109px 364px #fff, 813px 637px #fff,
    1968px 1774px #fff, 822px 1154px #fff, 628px 1729px #fff, 559px 614px #fff,
    1601px 454px #fff, 1412px 916px #fff, 408px 1211px #fff, 172px 469px #fff,
    1794px 890px #fff, 1408px 657px #fff, 554px 333px #fff, 680px 1467px #fff,
    947px 202px #fff, 656px 1995px #fff, 1052px 886px #fff, 1574px 1771px #fff,
    413px 1134px #fff, 1980px 498px #fff, 574px 1431px #fff, 1624px 1192px #fff,
    1554px 1910px #fff, 677px 587px #fff, 1937px 1736px #fff, 1045px 1343px #fff,
    1376px 1485px #fff, 1124px 1835px #fff, 535px 743px #fff, 826px 231px #fff,
    1050px 572px #fff, 1535px 1586px #fff, 602px 1462px #fff, 911px 325px #fff,
    919px 1505px #fff, 369px 1608px #fff, 499px 1488px #fff, 1949px 1858px #fff,
    1321px 1171px #fff, 467px 1713px #fff, 228px 1161px #fff, 186px 1176px #fff,
    1824px 1779px #fff, 352px 445px #fff, 922px 1033px #fff, 315px 182px #fff,
    1564px 1851px #fff, 1441px 1678px #fff, 1911px 1566px #fff,
    1499px 1287px #fff, 190px 893px #fff, 1575px 48px #fff, 950px 758px #fff,
    822px 1115px #fff, 1091px 1616px #fff, 1057px 115px #fff, 1910px 941px #fff,
    815px 1181px #fff, 615px 393px #fff, 783px 1643px #fff, 305px 533px #fff,
    1881px 1504px #fff, 915px 923px #fff, 171px 3px #fff, 910px 474px #fff,
    1967px 1808px #fff, 8px 1424px #fff, 1918px 1143px #fff, 570px 1208px #fff,
    1431px 962px #fff, 1159px 637px #fff, 1129px 919px #fff, 1249px 496px #fff,
    1183px 1559px #fff, 1339px 1053px #fff, 1103px 621px #fff, 188px 373px #fff,
    901px 528px #fff, 1491px 1355px #fff, 1704px 1376px #fff, 508px 1363px #fff,
    1050px 1447px #fff, 664px 1478px #fff, 1148px 1386px #fff,
    1930px 1465px #fff, 1805px 13px #fff, 1054px 1116px #fff, 367px 1003px #fff,
    1579px 1136px #fff, 1967px 1112px #fff, 998px 1480px #fff, 1157px 726px #fff,
    1947px 332px #fff, 1486px 752px #fff, 1071px 561px #fff, 1232px 1603px #fff,
    819px 1426px #fff, 1878px 12px #fff, 1958px 1227px #fff, 459px 1567px #fff,
    600px 1585px #fff, 179px 1302px #fff, 23px 194px #fff, 701px 59px #fff,
    1801px 1220px #fff, 1207px 951px #fff, 1946px 1659px #fff, 1826px 715px #fff,
    697px 1196px #fff, 389px 1436px #fff, 1790px 753px #fff, 1888px 290px #fff,
    270px 1199px #fff, 1800px 1766px #fff, 807px 803px #fff, 738px 1048px #fff,
    1100px 155px #fff, 84px 1801px #fff, 1791px 615px #fff, 1939px 816px #fff,
    2px 306px #fff, 349px 1890px #fff, 985px 1041px #fff, 1400px 1410px #fff,
    49px 590px #fff, 907px 1563px #fff, 1329px 1345px #fff, 541px 505px #fff,
    1948px 589px #fff, 1755px 34px #fff, 349px 296px #fff, 86px 1272px #fff,
    1026px 1622px #fff, 468px 583px #fff, 1723px 226px #fff, 876px 844px #fff,
    1321px 474px #fff, 1873px 1931px #fff, 137px 806px #fff, 1328px 1723px #fff,
    1410px 992px #fff, 69px 1995px #fff, 1641px 185px #fff, 16px 1167px #fff,
    1370px 1360px #fff, 918px 1689px #fff, 1375px 1445px #fff,
    1141px 1833px #fff, 453px 1020px #fff, 481px 801px #fff, 209px 1726px #fff,
    306px 962px #fff, 1736px 1167px #fff, 1611px 1303px #fff, 1082px 1016px #fff,
    667px 379px #fff, 27px 332px #fff, 1054px 1458px #fff, 1861px 804px #fff,
    1540px 396px #fff, 1287px 1434px #fff, 753px 776px #fff, 163px 820px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1858px 1323px #fff, 1518px 625px #fff, 1987px 1407px #fff,
    1115px 1343px #fff, 797px 175px #fff, 1345px 1305px #fff, 811px 973px #fff,
    1748px 262px #fff, 346px 743px #fff, 618px 61px #fff, 1234px 540px #fff,
    86px 1284px #fff, 1257px 292px #fff, 1371px 517px #fff, 166px 409px #fff,
    805px 569px #fff, 305px 349px #fff, 1975px 191px #fff, 112px 1252px #fff,
    30px 122px #fff, 1308px 1697px #fff, 1311px 1086px #fff, 779px 36px #fff,
    467px 914px #fff, 1353px 1677px #fff, 882px 415px #fff, 645px 1568px #fff,
    71px 1171px #fff, 1274px 1210px #fff, 1870px 1743px #fff, 901px 1144px #fff,
    1466px 1259px #fff, 1384px 447px #fff, 1334px 867px #fff, 1598px 1598px #fff,
    1878px 1715px #fff, 1300px 878px #fff, 109px 364px #fff, 813px 637px #fff,
    1968px 1774px #fff, 822px 1154px #fff, 628px 1729px #fff, 559px 614px #fff,
    1601px 454px #fff, 1412px 916px #fff, 408px 1211px #fff, 172px 469px #fff,
    1794px 890px #fff, 1408px 657px #fff, 554px 333px #fff, 680px 1467px #fff,
    947px 202px #fff, 656px 1995px #fff, 1052px 886px #fff, 1574px 1771px #fff,
    413px 1134px #fff, 1980px 498px #fff, 574px 1431px #fff, 1624px 1192px #fff,
    1554px 1910px #fff, 677px 587px #fff, 1937px 1736px #fff, 1045px 1343px #fff,
    1376px 1485px #fff, 1124px 1835px #fff, 535px 743px #fff, 826px 231px #fff,
    1050px 572px #fff, 1535px 1586px #fff, 602px 1462px #fff, 911px 325px #fff,
    919px 1505px #fff, 369px 1608px #fff, 499px 1488px #fff, 1949px 1858px #fff,
    1321px 1171px #fff, 467px 1713px #fff, 228px 1161px #fff, 186px 1176px #fff,
    1824px 1779px #fff, 352px 445px #fff, 922px 1033px #fff, 315px 182px #fff,
    1564px 1851px #fff, 1441px 1678px #fff, 1911px 1566px #fff,
    1499px 1287px #fff, 190px 893px #fff, 1575px 48px #fff, 950px 758px #fff,
    822px 1115px #fff, 1091px 1616px #fff, 1057px 115px #fff, 1910px 941px #fff,
    815px 1181px #fff, 615px 393px #fff, 783px 1643px #fff, 305px 533px #fff,
    1881px 1504px #fff, 915px 923px #fff, 171px 3px #fff, 910px 474px #fff,
    1967px 1808px #fff, 8px 1424px #fff, 1918px 1143px #fff, 570px 1208px #fff,
    1431px 962px #fff, 1159px 637px #fff, 1129px 919px #fff, 1249px 496px #fff,
    1183px 1559px #fff, 1339px 1053px #fff, 1103px 621px #fff, 188px 373px #fff,
    901px 528px #fff, 1491px 1355px #fff, 1704px 1376px #fff, 508px 1363px #fff,
    1050px 1447px #fff, 664px 1478px #fff, 1148px 1386px #fff,
    1930px 1465px #fff, 1805px 13px #fff, 1054px 1116px #fff, 367px 1003px #fff,
    1579px 1136px #fff, 1967px 1112px #fff, 998px 1480px #fff, 1157px 726px #fff,
    1947px 332px #fff, 1486px 752px #fff, 1071px 561px #fff, 1232px 1603px #fff,
    819px 1426px #fff, 1878px 12px #fff, 1958px 1227px #fff, 459px 1567px #fff,
    600px 1585px #fff, 179px 1302px #fff, 23px 194px #fff, 701px 59px #fff,
    1801px 1220px #fff, 1207px 951px #fff, 1946px 1659px #fff, 1826px 715px #fff,
    697px 1196px #fff, 389px 1436px #fff, 1790px 753px #fff, 1888px 290px #fff,
    270px 1199px #fff, 1800px 1766px #fff, 807px 803px #fff, 738px 1048px #fff,
    1100px 155px #fff, 84px 1801px #fff, 1791px 615px #fff, 1939px 816px #fff,
    2px 306px #fff, 349px 1890px #fff, 985px 1041px #fff, 1400px 1410px #fff,
    49px 590px #fff, 907px 1563px #fff, 1329px 1345px #fff, 541px 505px #fff,
    1948px 589px #fff, 1755px 34px #fff, 349px 296px #fff, 86px 1272px #fff,
    1026px 1622px #fff, 468px 583px #fff, 1723px 226px #fff, 876px 844px #fff,
    1321px 474px #fff, 1873px 1931px #fff, 137px 806px #fff, 1328px 1723px #fff,
    1410px 992px #fff, 69px 1995px #fff, 1641px 185px #fff, 16px 1167px #fff,
    1370px 1360px #fff, 918px 1689px #fff, 1375px 1445px #fff,
    1141px 1833px #fff, 453px 1020px #fff, 481px 801px #fff, 209px 1726px #fff,
    306px 962px #fff, 1736px 1167px #fff, 1611px 1303px #fff, 1082px 1016px #fff,
    667px 379px #fff, 27px 332px #fff, 1054px 1458px #fff, 1861px 804px #fff,
    1540px 396px #fff, 1287px 1434px #fff, 753px 776px #fff, 163px 820px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1294px 366px #fff, 229px 1374px #fff, 27px 1376px #fff,
    1551px 218px #fff, 1038px 1870px #fff, 659px 359px #fff, 883px 1859px #fff,
    1530px 812px #fff, 649px 832px #fff, 1002px 1683px #fff, 1621px 158px #fff,
    247px 964px #fff, 885px 766px #fff, 1962px 1235px #fff, 424px 476px #fff,
    634px 1211px #fff, 865px 1987px #fff, 1179px 1550px #fff, 994px 248px #fff,
    1436px 498px #fff, 573px 36px #fff, 1428px 1636px #fff, 462px 1266px #fff,
    1593px 1128px #fff, 1032px 1926px #fff, 745px 1785px #fff, 507px 535px #fff,
    1972px 569px #fff, 582px 1648px #fff, 1846px 1101px #fff, 1838px 845px #fff,
    24px 350px #fff, 777px 710px #fff, 726px 182px #fff, 72px 1977px #fff,
    624px 649px #fff, 1729px 271px #fff, 118px 112px #fff, 1306px 825px #fff,
    1866px 338px #fff, 1113px 491px #fff, 1350px 1129px #fff, 67px 477px #fff,
    712px 1816px #fff, 916px 319px #fff, 79px 716px #fff, 295px 1247px #fff,
    562px 1447px #fff, 1376px 988px #fff, 1449px 220px #fff, 456px 1699px #fff,
    1797px 1820px #fff, 256px 565px #fff, 531px 1121px #fff, 456px 1608px #fff,
    1046px 240px #fff, 1354px 748px #fff, 54px 1376px #fff, 328px 1833px #fff,
    1625px 1185px #fff, 1041px 1731px #fff, 1625px 833px #fff, 714px 27px #fff,
    1422px 368px #fff, 1116px 1813px #fff, 1509px 779px #fff, 83px 1918px #fff,
    1821px 1078px #fff, 1306px 536px #fff, 409px 1244px #fff, 662px 88px #fff,
    1285px 490px #fff, 78px 665px #fff, 1244px 494px #fff, 1712px 651px #fff,
    322px 642px #fff, 1380px 1212px #fff, 1954px 727px #fff, 1171px 1305px #fff,
    948px 1516px #fff, 1813px 1321px #fff, 972px 1608px #fff, 965px 770px #fff,
    890px 1576px #fff, 553px 71px #fff, 1960px 1329px #fff, 1538px 149px #fff,
    1783px 325px #fff, 721px 402px #fff, 1595px 1309px #fff, 1981px 1337px #fff,
    855px 1425px #fff, 783px 1824px #fff, 711px 708px #fff, 335px 1608px #fff,
    1482px 958px #fff, 508px 1252px #fff, 782px 1201px #fff, 494px 50px #fff,
    928px 1238px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1294px 366px #fff, 229px 1374px #fff, 27px 1376px #fff,
    1551px 218px #fff, 1038px 1870px #fff, 659px 359px #fff, 883px 1859px #fff,
    1530px 812px #fff, 649px 832px #fff, 1002px 1683px #fff, 1621px 158px #fff,
    247px 964px #fff, 885px 766px #fff, 1962px 1235px #fff, 424px 476px #fff,
    634px 1211px #fff, 865px 1987px #fff, 1179px 1550px #fff, 994px 248px #fff,
    1436px 498px #fff, 573px 36px #fff, 1428px 1636px #fff, 462px 1266px #fff,
    1593px 1128px #fff, 1032px 1926px #fff, 745px 1785px #fff, 507px 535px #fff,
    1972px 569px #fff, 582px 1648px #fff, 1846px 1101px #fff, 1838px 845px #fff,
    24px 350px #fff, 777px 710px #fff, 726px 182px #fff, 72px 1977px #fff,
    624px 649px #fff, 1729px 271px #fff, 118px 112px #fff, 1306px 825px #fff,
    1866px 338px #fff, 1113px 491px #fff, 1350px 1129px #fff, 67px 477px #fff,
    712px 1816px #fff, 916px 319px #fff, 79px 716px #fff, 295px 1247px #fff,
    562px 1447px #fff, 1376px 988px #fff, 1449px 220px #fff, 456px 1699px #fff,
    1797px 1820px #fff, 256px 565px #fff, 531px 1121px #fff, 456px 1608px #fff,
    1046px 240px #fff, 1354px 748px #fff, 54px 1376px #fff, 328px 1833px #fff,
    1625px 1185px #fff, 1041px 1731px #fff, 1625px 833px #fff, 714px 27px #fff,
    1422px 368px #fff, 1116px 1813px #fff, 1509px 779px #fff, 83px 1918px #fff,
    1821px 1078px #fff, 1306px 536px #fff, 409px 1244px #fff, 662px 88px #fff,
    1285px 490px #fff, 78px 665px #fff, 1244px 494px #fff, 1712px 651px #fff,
    322px 642px #fff, 1380px 1212px #fff, 1954px 727px #fff, 1171px 1305px #fff,
    948px 1516px #fff, 1813px 1321px #fff, 972px 1608px #fff, 965px 770px #fff,
    890px 1576px #fff, 553px 71px #fff, 1960px 1329px #fff, 1538px 149px #fff,
    1783px 325px #fff, 721px 402px #fff, 1595px 1309px #fff, 1981px 1337px #fff,
    855px 1425px #fff, 783px 1824px #fff, 711px 708px #fff, 335px 1608px #fff,
    1482px 958px #fff, 508px 1252px #fff, 782px 1201px #fff, 494px 50px #fff,
    928px 1238px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

@media only screen and (max-width: 576px) {
  .wc-board {
    font-size: 25px !important;
  }
}
