.bg-pale-green {
  background-color: rgba(50, 58, 20, 0.7) !important;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background: linear-gradient(
      to bottom,
      rgba(92, 77, 66, 0.8) 0,
      rgba(92, 77, 66, 0.8) 100%
    ),
    url(https://wallpapercave.com/wp/COs2teg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.nav-link {
  padding: 0 0.5rem 0 0.5rem !important;
}
.navbar .navbar-nav li {
  border: 3px solid rgb(0, 0, 0, 0);
  transition: all 0.2s ease-in-out;
}
.navbar .navbar-nav li:hover {
  border: 3px solid #ffffff;
}
.navbar .navbar-nav .btn {
  padding: 0.5rem 0.75rem !important;
}
/* FOOTER CSS */
.about {
  word-wrap: break-word;
}
.fa-facebook:hover {
  color: #3b5998;
}
.fa-twitter:hover {
  color: #00acee;
}
.fa-youtube:hover {
  color: #c4302b;
}
.fa-instagram:hover {
  color: #bc2a8d;
}
.fa-university:hover {
  color: white;
}
.no_underline:hover {
  text-decoration: none;
}
/* FAQ CSS */
.accordion {
  position: relative;
  height: 300px;
  overflow: auto;
}
.btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(119, 135, 54, 0.7) !important;
}
